<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">Fifa Madness</a>
	</div>
	<ul class="nav navbar-nav">
		<li><a href="/dash">Dash</a></li>
		<li><a href="/leaderboard">Leaderboard</a></li>
	</ul>
</nav>

<div class="container-fluid text-center">
	<h1>DASHBOARD</h1>
	{{tagline}}
	{{test2}}

	<div>
</div>
	<div ng-controller="dashController">

	  	<accordion close-others="oneAtATime">
	    <accordion-group is-open="isopen">
	        <accordion-heading>
	        	<i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
	        	<center>GROUP A</center>
	        	<div class="col-md-6 col-sm-12 pull-right"><img src="http://img.fifa.com/images/flags/4/bra.png" class="tinyTeamFlag"><img src="http://img.fifa.com/images/flags/4/mex.png" class="tinyTeamFlag"><img src="http://img.fifa.com/images/flags/4/cmr.png" class="tinyTeamFlag"><img src="http://img.fifa.com/images/flags/4/cro.png" class="tinyTeamFlag"></div>
	        </accordion-heading>

	        <table class="table table-condensed table-hover">
	        	<tr class="active">
	        		<th class="col-md-2">DATE</th>
	        		<th class="col-md-3">TEAM 1</th>
	        		<th class="col-md-3">TEAM 2</th>
	        		<th class="col-md-1 tieTd">TIE</th>
	        		<th class="col-md-3">PICKED WINNER</th>
	        		<th class="col-md-2" ng-show="pickedWinner">SCORE (X-X)</th>

	       		</tr>

	       		<tr>
	        		<td>{{allData.groupA_game1.play_at}}</td>
	        		<td class="canPick" ng-click="groupA_game1_winner($event)" data="{{allData.groupA_game1.team1_title}}"><img src="http://img.fifa.com/images/flags/4/bra.png" data="{{allData.groupA_game1.team1_title}}"><span class="teamName" data="{{allData.groupA_game1.team1_title}}">{{allData.groupA_game1.team1_title | uppercase}}</span></td>
	        		<td class="canPick" ng-click="groupA_game1_winner($event)" data="{{allData.groupA_game1.team2_title}}"><img src="http://img.fifa.com/images/flags/4/cro.png" data="{{allData.groupA_game1.team2_title}}"><span class="teamName" data="{{allData.groupA_game1.team2_title}}">{{allData.groupA_game1.team2_title | uppercase}}</span></td>

	        		<!-- TIE -->
	        		<td class="canPick tieTd" ng-click="groupA_game1_winner($event)" data="TIE"><input type="checkbox"/></td>

	        		<td class="groupA_winner1"><img ng-hide="tieGame" src="{{groupA_game1_winner_pick_img}}"><span class="teamName">{{groupA_game1_winner_pick | uppercase}}</span></td>

	        		<td ng-show="pickedWinner">
	        			<form name="groupA_game1_enterScore"><input name="input" maxlength="3" type="text" ng-model="allData.groupA_game1_score" class="form-control enterScore" id="groupA_game1_score" placeholder="{{groupA_game1_winner_pick_key}}-{{groupA_game1_loser_pick_key}}" width="50px" ng-blur="checkScore()" ng-pattern="scorePattern" /></form>
	        		</td>
	       		</tr>

	       		<tr>
	        		<td class="col-md-3">{{allData.groupA_game2.play_at}}</td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game2_winner($event)" data="{{allData.groupA_game2.team1_title}}"><img src="http://img.fifa.com/images/flags/4/mex.png" data="{{allData.groupA_game2.team1_title}}"><span class="teamName" data="{{allData.groupA_game2.team1_title}}">{{allData.groupA_game2.team1_title | uppercase}}</span></td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game2_winner($event)" data="{{allData.groupA_game2.team2_title}}"><img src="http://img.fifa.com/images/flags/4/cmr.png" data="{{allData.groupA_game2.team2_title}}"><span class="teamName" data="{{allData.groupA_game2.team2_title}}">{{allData.groupA_game2.team2_title | uppercase}}</span></td>

	        		<td class="groupA_winner2 col-md-3"><img src="{{groupA_game2_winner_pick_img}}"><span class="teamName">{{groupA_game2_winner_pick | uppercase}}</span></td>
	        		<td ng-show="groupA_game2_score"><input type="text" class="form-control" id="enterScore" placeholder="3-2"/></td>

	       		</tr>

	       		<tr>
	        		<td class="col-md-3">{{allData.groupA_game3.play_at}}</td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game3_winner($event)" data="{{allData.groupA_game3.team1_title}}"><img src="http://img.fifa.com/images/flags/4/bra.png" data="{{allData.groupA_game3.team1_title}}"><span class="teamName" data="{{allData.groupA_game3.team1_title}}">{{allData.groupA_game3.team1_title | uppercase}}</span></td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game3_winner($event)" data="{{allData.groupA_game3.team2_title}}"><img src="http://img.fifa.com/images/flags/4/mex.png" data="{{allData.groupA_game3.team2_title}}"><span class="teamName" data="{{allData.groupA_game3.team2_title}}">{{allData.groupA_game3.team2_title | uppercase}}</span></td>

	        		<td class="groupA_winner3 col-md-3"><img src="{{groupA_game3_winner_pick_img}}"><span class="teamName">{{groupA_game3_winner_pick | uppercase}}</span></td>

	       		</tr>
	       		<tr>
	        		<td class="col-md-3">{{allData.groupA_game4.play_at}}</td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game4_winner($event)" data="{{allData.groupA_game4.team1_title}}"><img src="http://img.fifa.com/images/flags/4/cmr.png" data="{{allData.groupA_game4.team1_title}}"><span class="teamName" data="{{allData.groupA_game4.team1_title}}">{{allData.groupA_game4.team1_title | uppercase}}</span></td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game4_winner($event)" data="{{allData.groupA_game4.team2_title}}"><img src="http://img.fifa.com/images/flags/4/cro.png" data="{{allData.groupA_game4.team2_title}}"><span class="teamName" data="{{allData.groupA_game4.team2_title}}">{{allData.groupA_game4.team2_title | uppercase}}</span></td>

	        		<td class="groupA_winner4 col-md-3"><img src="{{groupA_game4_winner_pick_img}}"><span class="teamName">{{groupA_game4_winner_pick | uppercase}}</span></td>
	       		</tr>
	       		<tr>
	        		<td class="col-md-3">{{allData.groupA_game5.play_at}}</td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game5_winner($event)" data="{{allData.groupA_game5.team1_title}}"><img src="http://img.fifa.com/images/flags/4/cmr.png" data="{{allData.groupA_game5.team1_title}}"><span class="teamName" data="{{allData.groupA_game5.team1_title}}">{{allData.groupA_game5.team1_title | uppercase}}</span></td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game5_winner($event)" data="{{allData.groupA_game5.team2_title}}"><img src="http://img.fifa.com/images/flags/4/bra.png" data="{{allData.groupA_game5.team2_title}}"><span class="teamName" data="{{allData.groupA_game5.team2_title}}">{{allData.groupA_game5.team2_title | uppercase}}</span></td>

	        		<td class="groupA_winner5 col-md-3"><img src="{{groupA_game5_winner_pick_img}}"><span class="teamName">{{groupA_game5_winner_pick | uppercase}}</span></td>
	       		</tr>
	       		<tr>
	        		<td class="col-md-3">{{allData.groupA_game6.play_at}}</td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game6_winner($event)" data="{{allData.groupA_game6.team1_title}}"><img src="http://img.fifa.com/images/flags/4/cro.png" data="{{allData.groupA_game6.team1_title}}"><span class="teamName" data="{{allData.groupA_game6.team1_title}}">{{allData.groupA_game6.team1_title | uppercase}}</span></td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game6_winner($event)" data="{{allData.groupA_game6.team2_title}}"><img src="http://img.fifa.com/images/flags/4/mex.png" data="{{allData.groupA_game6.team2_title}}"><span class="teamName" data="{{allData.groupA_game6.team2_title}}">{{allData.groupA_game6.team2_title | uppercase}}</span></td>

	        		<td class="groupA_winner6 col-md-3"><img src="{{groupA_game6_winner_pick_img}}"><span class="teamName">{{groupA_game6_winner_pick | uppercase}}</span></td>
	       		</tr>
	       		<tr>
	       			<td></td>
	       			<td></td>
	       			<td></td>
	       			<td> </td>
	       			<td></td>
	       		</tr>
	       		
	       		<tr class="active">
		       		<th>GROUP A 1ST PLACE</th>
		        	<th></th>
		        	<th>GROUP A 2ND PLACE</th>
		        	<th><th>
		        	<th class="" ng-show="pickedWinner"></th>
	        	</tr>
	        	<tr>
	        		<td><img src="{{groupA_1st_place_img}}"><span class="teamName">{{groupA_1st_place | uppercase}}</span></td>
	        		<td></td>
	        		<td><img src="{{groupA_2nd_place_img}}"><span class="teamName">{{groupA_2nd_place | uppercase}}</span></td>
	        		<td></td>
	        	</tr>
	        </table>
	    </accordion-group>

	<accordion-group>

	<accordion-heading>
	<i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
	GROUP B
	</accordion-heading>
<!--         <button class="btn btn-default btn-sm" ng-click="alertData()">Add Item</button> -->
        <div ng-repeat="item in items">{{item}}</div>
        <div class="table-responsive">
     		<table class="table table-striped">
	     		<tr>
		        		<th>Time</th>
		        		<th>Team 1</th>
		        		<th>WINNER</th>
		        		<th>Team 2</th>
		       	</tr>


	     	</table>
     	</div>


    </accordion-group>

	</div>
	<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid">Submit Bracket</button>
</div>