<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">Fifa Madness</a>
	</div>
	<ul class="nav navbar-nav">
		<li><a href="/dash">Dash</a></li>
		<li><a href="/leaderboard">Leaderboard</a></li>
	</ul>
</nav>

<div class="container-fluid text-center">
	<h1>DASHBOARD</h1>
	{{tagline}}
	{{test2}}

	<div>
</div>
	<div ng-controller="dashController">

		<!--groupA .................... -->
	  	<accordion style="border-radius: 5px;" close-others="oneAtATime">
	    <accordion-group is-open="isopen">
	    
	        <accordion-heading>
	        <div class="groupHeading">
	        	<i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
	        	<h2 class="groupLetter">GROUP A</h2>
	        	<div class="col-md-6 col-sm-12 pull-right"><img src="images/flags/brazil.png" class="tinyTeamFlag"><img src="images/flags/mexico.png" class="tinyTeamFlag"><img src="images/flags/cameroon.png" class="tinyTeamFlag"><img src="images/flags/croatia.png" class="tinyTeamFlag"></div>
	        </div>
	        </accordion-heading>
	    

	        <table class="table table-condensed table-hover">
	        	<tr class="active">
	        		<th class="col-md-2">INFO</th>
	        		<th class="col-md-3">TEAM 1</th>
	        		<th class="col-md-3">TEAM 2</th>
	        		<th class="col-md-1 tieTd">TIE</th>
	        		<th class="col-md-3">PICKED WINNER</th>
	        		<th class="col-md-2" ng-show="allGames[0].gamePicked || allGames[1].gamePicked || allGames[2].gamePicked">SCORE (X-X)</th>

	       		</tr>

	       		<tr>
	        		<td><div class="dateTime">06/12/2014<br />17:00 Local Time<br /><span class="arena">Arena de Sao Paulo</span></div></td>
	        		<td class="canPick" ng-click="calculate_game_winner($event,0,allGames[0].team1,allGames[0].team2)" data="{{allGames[0].team1}}"><img src="images/flags/Brazil.png" data="{{allGames[0].team1}}"><span class="teamName" data="{{allGames[0].team1}}">{{allGames[0].team1 | uppercase}}</span></td>
	        		<td class="canPick" ng-click="calculate_game_winner($event,0,allGames[0].team1,allGames[0].team2)" data="{{allGames[0].team2}}"><img src="images/flags/Croatia.png" data="{{allGames[0].team2}}"><span class="teamName" data="{{allGames[0].team2}}">{{allGames[0].team2 | uppercase}}</span></td>

	        		<!-- TIE -->
	        		<td class="canPick tieTd" data="TIE" ng-click="calculate_game_winner($event,0,allGames[0].team1,allGames[0].team2); validateScore(0)"><div class="tieTd" data="TIE" ng-click="calculate_game_winner($event,0,allGames[0].team1,allGames[0].team2)">TIE</div></td>

	        		<td class="0_winner"><img ng-hide="tieGame" src="{{allGames[0].winnerPickImg}}"><span class="teamName">{{allGames[0].winnerPick | uppercase}}</span></td>
	        		<!--ENTER SCORE -->
	        		<td> 
	        			<div ng-show="allGames[0].gamePicked">
	        				<form name="enterBracket"><input name="input" id="allGames0" maxlength="3" type="text" ng-model="allGames[0].score" class="form-control form-horizontal enterScore" placeholder="{{allGames[0].winnerPickKey}}-{{allGames[0].loserPickKey}}" ng-blur="validateScore(0,allGames[0].winnerPick)" ng-pattern="scorePattern" tooltip="Enter the selected winner's score first. Ex: 4-2. For ties, make sure score is equal. " tooltip-placement="right" tooltip-trigger="{{scorePattern.$valid}}" required /><span class="notTiedError" ng-show="allGames[0].scoreNotTied">{{scoreNotTiedErrorMsg}}</span><span class="notTiedError" ng-show="allGames[0].enterWinError">{{enterWinErrorMsg}}</span></form>
	        			</div>
	        		</td>
	       		</tr>

	       		<tr>
	        		<td><div class="dateTime">06/13/2014<br />13:00 Local Time<br /><span class="arena">Estadio das Dunas</span></div></td>
	        		<td class="canPick" ng-click="calculate_game_winner($event,1,allGames[1].team1,allGames[1].team2)" data="{{allGames[1].team1}}"><img src="images/flags/Mexico.png" data="{{allGames[1].team1}}"><span class="teamName" data="{{allGames[1].team1}}">{{allGames[1].team1 | uppercase}}</span></td>
	        		<td class="canPick" ng-click="calculate_game_winner($event,1,allGames[1].team1,allGames[1].team2)" data="{{allGames[1].team2}}"><img src="images/flags/Cameroon.png" data="{{allGames[1].team2}}"><span class="teamName" data="{{allGames[1].team2}}">{{allGames[1].team2 | uppercase}}</span></td>

	        		<!-- TIE -->
	        		<td class="canPick tieTd" data="TIE" ng-click="calculate_game_winner($event,1,allGames[1].team1,allGames[1].team2); validateScore(1)"><div class="tieTd" data="TIE" ng-click="calculate_game_winner($event,1,allGames[1].team1,allGames[1].team2)">TIE</div></td>

	        		<td class="1_winner"><img ng-hide="tieGame" src="{{allGames[1].winnerPickImg}}"><span class="teamName">{{allGames[1].winnerPick | uppercase}}</span></td>
	        		<!--ENTER SCORE -->
	        		<td>
	        			<div ng-show="allGames[1].gamePicked">
	        				<form name="enterBracket"><input name="input" id="allGames1" maxlength="3" type="text" ng-model="allGames[1].score" class="form-control form-horizontal enterScore" placeholder="{{allGames[1].winnerPickKey}}-{{allGames[1].loserPickKey}}" width="50px" ng-blur="validateScore(1,allGames[1].winnerPick)" ng-pattern="scorePattern" required /><span class="notTiedError" ng-show="allGames[1].scoreNotTied">{{scoreNotTiedErrorMsg}}</span><span class="notTiedError" ng-show="allGames[1].enterWinError">{{enterWinErrorMsg}}</span></form>
	        			</div>
	        		</td>
	       		</tr>

	       		<tr>
	        		<td class="col-md-3">{{allData.groupA_game3.play_at}}</td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game3_winner($event)" data="{{allData.groupA_game3.team1_title}}"><img src="images/flags/brazil.png" data="{{allData.groupA_game3.team1_title}}"><span class="teamName" data="{{allData.groupA_game3.team1_title}}">{{allData.groupA_game3.team1_title | uppercase}}</span></td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game3_winner($event)" data="{{allData.groupA_game3.team2_title}}"><img src="images/flags/mexico.png" data="{{allData.groupA_game3.team2_title}}"><span class="teamName" data="{{allData.groupA_game3.team2_title}}">{{allData.groupA_game3.team2_title | uppercase}}</span></td>

	        		<td class="groupA_winner3 col-md-3"><img src="{{groupA_game3_winner_pick_img}}"><span class="teamName">{{groupA_game3_winner_pick | uppercase}}</span></td>

	       		</tr>
	       		<tr>
	        		<td class="col-md-3">{{allData.groupA_game4.play_at}}</td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game4_winner($event)" data="{{allData.groupA_game4.team1_title}}"><img src="images/flags/cameroon.png" data="{{allData.groupA_game4.team1_title}}"><span class="teamName" data="{{allData.groupA_game4.team1_title}}">{{allData.groupA_game4.team1_title | uppercase}}</span></td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game4_winner($event)" data="{{allData.groupA_game4.team2_title}}"><img src="images/flags/croatia.png" data="{{allData.groupA_game4.team2_title}}"><span class="teamName" data="{{allData.groupA_game4.team2_title}}">{{allData.groupA_game4.team2_title | uppercase}}</span></td>

	        		<td class="groupA_winner4 col-md-3"><img src="{{groupA_game4_winner_pick_img}}"><span class="teamName">{{groupA_game4_winner_pick | uppercase}}</span></td>
	       		</tr>
	       		<tr>
	        		<td class="col-md-3">{{allData.groupA_game5.play_at}}</td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game5_winner($event)" data="{{allData.groupA_game5.team1_title}}"><img src="images/flags/cameroon.png" data="{{allData.groupA_game5.team1_title}}"><span class="teamName" data="{{allData.groupA_game5.team1_title}}">{{allData.groupA_game5.team1_title | uppercase}}</span></td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game5_winner($event)" data="{{allData.groupA_game5.team2_title}}"><img src="images/flags/brazil.png" data="{{allData.groupA_game5.team2_title}}"><span class="teamName" data="{{allData.groupA_game5.team2_title}}">{{allData.groupA_game5.team2_title | uppercase}}</span></td>

	        		<td class="groupA_winner5 col-md-3"><img src="{{groupA_game5_winner_pick_img}}"><span class="teamName">{{groupA_game5_winner_pick | uppercase}}</span></td>
	       		</tr>
	       		<tr>
	        		<td class="col-md-3">{{allData.groupA_game6.play_at}}</td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game6_winner($event)" data="{{allData.groupA_game6.team1_title}}"><img src="images/flags/croatia.png" data="{{allData.groupA_game6.team1_title}}"><span class="teamName" data="{{allData.groupA_game6.team1_title}}">{{allData.groupA_game6.team1_title | uppercase}}</span></td>
	        		<td class="col-md-3 canPick" ng-click="groupA_game6_winner($event)" data="{{allData.groupA_game6.team2_title}}"><img src="images/flags/mexico.png" data="{{allData.groupA_game6.team2_title}}"><span class="teamName" data="{{allData.groupA_game6.team2_title}}">{{allData.groupA_game6.team2_title | uppercase}}</span></td>

	        		<td class="groupA_winner6 col-md-3"><img src="{{groupA_game6_winner_pick_img}}"><span class="teamName">{{groupA_game6_winner_pick | uppercase}}</span></td>
	       		</tr>
	       		<tr>
	       			<td></td>
	       			<td></td>
	       			<td></td>
	       			<td> </td>
	       			<td></td>
	       		</tr>
	       		
	       		<tr class="active">
		       		<th>GROUP A 1ST PLACE</th>
		        	<th></th>
		        	<th>GROUP A 2ND PLACE</th>
		        	<th><th>
		        	<th class="" ng-show="allGames[0].gamePicked"></th>
	        	</tr>
	        	<tr>
	        		<td><img src="{{groupA_1st_place_img}}"><span class="teamName">{{groupA_1st_place | uppercase}}</span></td>
	        		<td></td>
	        		<td><img src="{{groupA_2nd_place_img}}"><span class="teamName">{{groupA_2nd_place | uppercase}}</span></td>
	        		<td></td>
	        	</tr>
	        </table>
	    </accordion-group>

	<accordion-group>

	<accordion-heading ng-class="groupHeader">
	<i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
	GROUP B
	</accordion-heading>
<!--         <button class="btn btn-default btn-sm" ng-click="alertData()">Add Item</button> -->
        <div ng-repeat="item in items">{{item}}</div>
        <div class="table-responsive">
     		<table class="table table-striped">
	     		<tr>
		        		<th>Time</th>
		        		<th>Team 1</th>
		        		<th>WINNER</th>
		        		<th>Team 2</th>
		       	</tr>


	     	</table>
     	</div>


    </accordion-group>

	</div>
	<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid">Submit Bracket</button>
</div>