<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">FIFA Madness</a>
	</div>
	<ul class="nav navbar-nav">
		<li><a href="/dash">Dash</a></li>
		<li><a href="/leaderboard">Leaderboard</a></li>
	</ul>
</nav>

<div class="container text-center">
	<h1>Leaderboard</h1>

	<p></p>
</div>





		<!-- user leaderboard -->
		<div id="users" class="row" ng-controller="leaderboardController">
			<div class="col-sm-4 col-sm-offset-4">

				<!-- LOOP OVER The users -->
				<div class="teamName" ng-repeat="user in users">
					<label class="teamName">
						{{user.local.email}} || {{user.local.totalScore}}
					</label>
				</div>

			</div>
		</div>



		