<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Fifa Madness</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/dash">Dash</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
    </ul>
</nav>

<div class="container-fluid text-center">
    <h1>Login</h1>
    {{tagline}}
    <!-- <div> -->

    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            <a href="/auth/facebook">
                <img src="ht"/>
            </a>
            <a href="/auth/github">
                <img src="../public/assets/img/icons/github.png"/>
            </a>

            <a href="/auth/linkedin">
                <img src="public/assets/img/icons/linkedin.png"/>
            </a>

            <a href="/auth/twitter">
                <img src="../public/assets/img/icons/twitter.png"/>
            </a><a href="/auth/google">
            <img src="../public/assets/img/icons/google.png"/>
        </a>
        </div>
    </div>
</div>

<div>


    <div class="col-md-6">


        <div ui-view></div>
    </div>

</div>

<div data-ng-controller="LoginCtrl">
    <!-- <div class="alert alert-danger animated fadeIn" ng-show="loginerror">{{loginerror}}</div> -->
    <h1>Sign in</h1>
    <form  ng-submit="login()" class="signin form-horizontal">
        <div class="form-group">
            <label for="email" class="col-md-4 control-label">Email</label>
            <div class="col-md-8">
                <input required id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="user.email"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-md-4 control-label">Password</label>
            <div class="col-md-8">
                <input required id="password" type="password" name="password" placeholder="Password" class="form-control" ng-model="user.password"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-primary">Sign in</button>&nbsp;
                or&nbsp;<a ui-sref='auth.register' class="show-signup">Sign up</a>
            </div>
        </div>
    </form>
</div>
