@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body { padding-top:30px; 
	font-family:'Open Sans', 'sans-serif';
	letter-spacing: 2px;
}

.navbar-right{
	padding-right:55px;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

td{
	font-size: 1.5em;
	text-align: left;
	padding: 5px;
}
th{
	text-align: left;
}
.teamName{
	text-align: left;
}
.tinyTeamFlag{
	height:30px;
	width:60px;
	float:right;
	margin-top:-25px;
}
img{
	padding-right:5px;
}
.winner{

}
.winnerPick{
	background-color: #c8c8c8 !important;
	color: #4e5d6c !important;
}

td.canPick:hover{
	background-color: #2b3e50 !important;
}
.enterScore{
	margin-left:5px;
	width:110px;
	margin-top:5px;
	height:100%;
}
.tieText{
	margin:25px;
	text-align: center;
}
.tieTd{
	width:100px;
	text-align: center;
	vertical-align: middle;
	padding-top: 145px;
}
table{
	table-layout: fixed;
}
input.ng-invalid { 
    border: 2px red solid;
}
input.ng-valid{
	background:white;
}
.error{
	font-size: .5em;
	text-align: center;
}