@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body { padding-top:30px; 
	font-family:'Open Sans', 'sans-serif';
	letter-spacing: 2px;
}

.navbar-right{
	padding-right:55px;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

td{
	padding-top:50px;
	font-size: 1.5em;
	text-align: left;
}
th{
	text-align: left;
}
.teamName{
	text-align: left;
}
.tinyTeamFlag{
	height:30px;
	width:60px;
	right:-65px;
	float:right;
	margin-top:-25px;
}
img{
	padding-right:5px;
}
.winner{

}
.winnerPick{
	background-color: #c8c8c8 !important;
	color: #4e5d6c !important;
}

td.canPick:hover{
	background-color: #2b3e50 !important;
}